.editor {
    line-height: 1.4em;
    letter-spacing: -0.01em;

    strong, b {
        font-weight: 600;
    }

    i, em {
        font-style: italic;
    }

    p,
    ul,
    ol,
    blockquote {
        line-height: 1.4em;
        letter-spacing: -0.01em;

        &+p,
        &+ol,
        &+ul,
        &+blockquote {
            margin-top: 1.25em;
        }
    }

    blockquote {
        color: $cor_site;
        font-size: var(--fonte-25px);
        font-weight: 600;
        line-height: 1.4em;
        letter-spacing: -0.01em;

        @include media-breakpoint-up(lg){
            padding-left: 20px;
            border-left: 4px rgba($cor_secundaria-variacao, 0.5) solid;
        }
    }

    ul,
    ol {
        padding-left: 1.4em;

        >li {
            padding: 2px 0;

            &::marker {
                color: currentColor;
                font-weight: 600;
            }
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }


    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fonte_titulos;
        line-height: 1.4em;
        margin-bottom: 0.6em;
        margin-top: 1.8em;
        letter-spacing: -0.01em;

        &:first-child {
            margin-top: 0;
        }

        @include media-breakpoint-down(md) {
            margin-top: 1.4em;
        }
    }

    h2 {
        font-size: var(--fonte-25px);
    }

    h3 {
        font-size: var(--fonte-20px);
    }

    h4 {
        font-size: var(--fonte-18px);
    }

    iframe,
    img {
        display: block;
        width: 100%;
        height: unset !important;
        margin: 35px 0;
    }

    iframe {
        width: 100% !important;
        margin: 2.7em 0;
        aspect-ratio: 16 / 9;
    }

    a {
        text-decoration: underline;
        transition: color 0.2s;

        &:hover {
            color: $cor_hovers;
        }
    }

    hr {
        display: block;
        width: 100%;
        margin: 3em 0;
        background-color: $cor_auxiliar;
        height: 2px;
        border: none;
    }
}