.editor {
    color: #363636;
    line-height: 1.6em;

    strong, b {
        font-weight: 600;
    }

    i, em {
        font-style: italic;
    }

    p,
    ul,
    ol,
    blockquote {
        line-height: 1.6em;

        &+p,
        &+ol,
        &+ul,
        &+blockquote {
            margin-top: 1.7em;
        }
    }

    blockquote {
        font-size: var(--fonte-25px);
        font-weight: 600;
        line-height: 1.4em;
        letter-spacing: -0.01em;

        @include media-breakpoint-up(lg){
            padding-left: 20px;
            border-left: 4px currentColor solid;
        }
    }

    ul,
    ol {
        padding-left: 1.4em;

        >li {
            padding: 2px 0;

            &::marker {
                color: currentColor;
                font-weight: 600;
            }
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }


    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend .fw400, .txtupper;

        &:first-child {
            margin-top: 0;
        }

        @include media-breakpoint-down(md) {
            margin-top: 1.4em;
        }
    }

    h2 {
        @extend .fs32;
    }

    h3 {
        @extend .fs24;
    }

    h4, h5, h6 {
        @extend .fs22;
    }

    iframe,
    img {
        display: block;
        width: 100%;
        height: unset !important;
        margin: 2em 0;
    }

    iframe {
        width: 100% !important;
        margin: 2em 0;
        aspect-ratio: 16 / 9;
    }

    a {
        font-style: italic;

        &:hover {
            text-decoration: underline;
        }
    }

    hr {
        display: block;
        width: 100%;
        margin: 3em 0;
        background-color: currentColor;
        height: 2px;
        border: none;
    }
}