.padrao-faq {
    >button {
        display: block;
        text-align: left;
        width: 100%;
        padding: 20px 60px 20px 25px;
        border-radius: 12px;
        border: 1px solid #0082CE;
        font-size: var(--fonte-18px);
        font-weight: 600;
        line-height: 1.4em;
        letter-spacing: -0.01em;
        margin-bottom: 12px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 2V14M14 8H2' stroke='%23002975' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        @include background-config(no-repeat, right 25px center, 16px, transparent);
        transition: background-color 0.3s, border-color 0.3s;

        &:hover{
            background-color: $cor_auxiliar;
        }
  
        &.ativo {
            background-color: $cor_auxiliar;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2H2' stroke='%23002975' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
    }

    >div {
        border-radius: 12px;
        background: $cor_auxiliar;
        padding: 30px 25px;
        margin-top: -4px;
        margin-bottom: 24px;
    }
}