footer{
    background-color: #F2F2F2;

    .content{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;

        svg{
            width: 160px;
            height: 16px;
        }
    
        p{
            font-size: var(--fonte-13px);
            font-weight: 400;
            line-height: 1.2em;
            text-align: left;
            color: rgba(#000, 0.4);

            @include media-breakpoint-down(sm){
                font-size: 9px;
            }

            a:hover{
                text-decoration: underline;
            }
        }
    }
}