footer {
    background-color: #F2F2F2;
    padding: 15px 0;

    @include media-breakpoint-down(md){
        text-align: center;
        padding: 10px 0 20px;
    }

    p {
        display: flex;
        align-self: center;
        justify-content: center;
        font-size: var(--fonte-13px);
        font-weight: 400;
        line-height: 1.2em;
        color: rgba(#000, 0.4);

        @include media-breakpoint-down(md) {
            font-size: 9px;
            margin-top: 10px;
        }

        a{
            display: inline-block;
            margin: 0 0.5ch;

            svg{
                width: 2ch;
                height: 2ch;
                fill: currentColor;
            }
        }

        a:hover {
            text-decoration: underline;
        }

        @include media-breakpoint-up(md){
            &.direitos{
                min-width: 193px;
                text-align: left;
                justify-content: flex-start;

                @include media-breakpoint-up(xl){
                    min-width: 217px;
                }
            }
        }
    }
}