.grid-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    width: 100%;

    &__img {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    @include media-breakpoint-up(lg) {
        &__img {
            &:nth-child(5n + 2) >div {
                margin-top: 100px;
            }

            &:nth-child(5n + 3),
            &:nth-child(5n + 4),
            &:nth-child(5n) {
                grid-column: span 2;

                &.vertical >div img,
                &.quadrado >div img {
                    max-height: 645px;
                }
            }

            &:nth-child(5n + 3) {
                &.horizontal >div {
                    margin-left: calc(var(--tamanho-borda) * -0.6);
                    max-width: calc(var(--tamanho-container) - var(--tamanho-coluna));
                }
            }

            &:nth-child(5n + 4) {
                &.horizontal >div {
                    margin-right: calc(var(--tamanho-borda) * -0.6);
                    max-width: calc(var(--tamanho-container) - var(--tamanho-coluna));
                }
                &.vertical, &.quadrado{
                    justify-content: flex-start;
                    padding-left: calc(var(--tamanho-coluna) * 2);
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
        grid-gap: 10px;

        &__img {
            justify-content: flex-start;

            &.vertical,
            &.quadrado {
                >div {
                    max-height: 50vw;
                }
            }

            &:nth-child(even) {
                justify-content: flex-end;
            }

            &:nth-child(3n + 1).horizontal {
                >div {max-width: 54vw;}
            }

            &:nth-child(3n + 1).vertical + div.vertical:nth-child(3n + 2){
                margin-top: -10vw;
            }
        }
    }
}