header {
    .logo {
        @extend %centralizar;
        z-index: 999;
        font-size: 0px;
        color: transparent;

        body:not(.page-id-67):not(.page-id-1135) & {
            position: fixed;
            top: 0;
            left: calc(5.2vw + #{$grid-gutter-width / 2});
            height: 80px;

            @media(max-width: 1300px) {
                left: #{$grid-gutter-width / 2};
            }

            @include media-breakpoint-down(md) {
                height: 70px;
            }
            
            @include media-breakpoint-down(sm){
                left: $grid-gutter-width;
            }
        }

        svg {
            width: 250px;
            height: 22px;

            @include media-breakpoint-down(md) {
                width: 165px;
                height: 15px;
            }

            @media(max-width: 350px) {
                width: 140px;
            }
        }
    }

    nav.fechado {
        position: fixed;
        text-align: center;
        background-color: #FAFAFA;
        top: 105px;
        right: calc(5.2vw + #{$grid-gutter-width / 2});
        z-index: 998;
        padding: 28px 0;
        transition: opacity 0.5s;

        @media(max-width: 1300px) {
            right: #{$grid-gutter-width / 2};
        }

        @include media-breakpoint-down(md) {
            right: #{$grid-gutter-width / 2};
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ul {
            a {
                display: block;
                font-weight: 300;
                line-height: 46px;
                text-transform: uppercase;
                padding: 0 40px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .sub-menu {
            display: none;
        }

        &:not(.ativo) {
            opacity: 0;
            pointer-events: none;
        }
    }

    #menu-language {
        display: flex;
        align-items: center;
        margin: 0 -8px 0 40px;

        @media(max-width: 1300px){            
            margin: 0 -8px 0 30px;
        }

        @media(max-width: 350px) {
            margin: 0 -5px 0 10px;
        }

        a {
            display: block;
            font-size: 12px;
            line-height: 50px;
            text-transform: uppercase;
            padding: 0 8px;

            &:hover {
                text-decoration: underline;
            }

            @media(max-width: 350px) {
                padding: 0 5px;
            }
        }

        body.home & {
            position: fixed;
            top: 15px;
            right: calc(5.2vw + #{$grid-gutter-width / 2} + 70px);
        }

        @include media-breakpoint-down(xl) {
            &,
            body.home & {
                position: fixed;
                top: 16px;
                right: calc(#{$grid-gutter-width / 2} + 65px);
            }
        }

        @include media-breakpoint-down(md) {
            &,
            body.home & {
                top: 10px;
                right: calc(#{$grid-gutter-width / 2} + 46px);
            }
        }
    }

    .toggle-menu {
        position: fixed;
        top: 0;
        right: calc(5.2vw + #{$grid-gutter-width / 2} - 24px);
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 0px;
        z-index: 1000;
        width: 80px;
        height: 80px;
        cursor: pointer;
        color: #B3B3B3;
        transition: color 0.2s, background-color 0.2s, top 0.2s, opacity 0.2s;

        @media(max-width: 1300px) {
            right: calc(#{$grid-gutter-width / 2} - 24px);
        }

        @include media-breakpoint-down(md) {
            width: 70px;
            height: 70px;
        }

        @include media-breakpoint-down(sm){
            right: calc(#{$grid-gutter-width} - 24px);
        }

        canvas {
            display: block;
            width: 32px;
            height: 3px;
            background-color: currentColor;
            border-radius: 2px;
            transition: 0.3s;

            &+canvas {
                margin-top: 7px;
            }

            @include media-breakpoint-down(md) {
                width: 22px;
                height: 2px;

                &+canvas {
                    margin-top: 5px;
                }
            }
        }

        &:not(.ativo) canvas:first-child {
            background-color: #000;
        }

        &.ativo {
            canvas {
                margin: 0;

                &:first-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                    margin-top: -3px;

                    @include media-breakpoint-down(md) {
                        margin-top: -2px;
                    }
                }

                &:nth-child(3) {
                    display: none;
                }
            }
        }

        &:hover:not(.ativo) {
            color: #000;
        }
    }

    @include media-breakpoint-up(xl) {
        padding: 0 5.2vw;
        border-bottom: 1px #151515 solid;
        transition: border 0.3s;

        @media(max-width: 1300px) {
            padding: 0;
        }

        nav.aberto {
            transition: opacity 0.3s;

            >ul {
                display: flex;
                align-items: center;
                margin: 0 -20px;

                a {
                    display: block;
                    font-weight: 300;
                    font-size: var(--fonte-16px);
                    line-height: 80px;
                    text-transform: uppercase;
                    padding: 0 20px;

                    @media(max-width: 1300px){
                        padding: 0 15px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                >li {
                    position: relative;

                    &.menu-item-has-children>a {
                        display: flex;
                        align-items: center;

                        &::after {
                            content: " ";
                            position: relative;
                            width: 10px;
                            height: 10px;
                            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.14434 1.06116L8.14435 1.06116C8.25042 0.941851 8.39774 0.871429 8.55506 0.871429C8.71237 0.871429 8.8597 0.941851 8.96577 1.06116C9.0714 1.17998 9.12857 1.33821 9.12857 1.50048C9.12857 1.66275 9.0714 1.82098 8.96577 1.9398L5.41082 5.93845C5.35841 5.99756 5.29531 6.04537 5.2247 6.07833C5.15402 6.11132 5.07761 6.12857 5 6.12857C4.92239 6.12857 4.84598 6.11132 4.77531 6.07833C4.70469 6.04537 4.64159 5.99756 4.58918 5.93845M8.14434 1.06116L4.68538 5.85315M8.14434 1.06116L8.14384 1.06173L5 4.6407M8.14434 1.06116L5.08557 4.73811M4.58918 5.93845L4.68538 5.85315M4.58918 5.93845L4.58929 5.93858L4.68538 5.85315M4.58918 5.93845L1.03423 1.9398C0.9286 1.82098 0.871428 1.66275 0.871428 1.50048C0.871428 1.33821 0.9286 1.17998 1.03423 1.06116C1.1403 0.941851 1.28763 0.871429 1.44494 0.871429C1.60226 0.871429 1.74958 0.941851 1.85565 1.06116L1.85616 1.06173L1.85616 1.06173L5 4.6407M4.68538 5.85315L1.13032 1.85437C1.04688 1.76051 1 1.63321 1 1.50048C1 1.36774 1.04688 1.24044 1.13032 1.14659C1.21376 1.05273 1.32694 1 1.44494 1C1.56295 1 1.67612 1.05273 1.75957 1.14659L4.91443 4.73811L5 4.6407M5 4.6407L5.08557 4.73811M5.08557 4.73811L8.24043 1.14659C8.32388 1.05273 8.43705 1 8.55506 1C8.67306 1 8.78624 1.05273 8.86968 1.14659C8.95312 1.24044 9 1.36774 9 1.50048C9 1.63321 8.95312 1.76051 8.86968 1.85437L5.31462 5.85315L5.08557 4.73811Z' fill='black' stroke='black' stroke-width='0.257143'/%3E%3C/svg%3E");
                            @include background-config(no-repeat, center, contain, transparent);
                            margin-left: 9px;
                        }
                    }

                    .sub-menu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #FAFAFA;
                        border-top: 1px #000 solid;
                        padding: 12px 0;
                        z-index: 999;
                        min-width: 100%;
                        transition: opacity 0.3s;

                        a {
                            font-size: var(--fonte-16px);
                            line-height: 1.2em;
                            padding: 10px 20px;
                        }
                    }

                    &.menu-item-404 .sub-menu {
                        min-width: 240px;
                    }

                    &:not(:hover) .sub-menu {
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                    }
                }
            }
        }

        body:not(.home) &:not(.scroll),
        body.page-id-67 &,
        body.page-id-1135 & {
            .toggle-menu {
                opacity: 0;
                z-index: -1;
                pointer-events: none;
            }
        }

        body.home &,
        body:not(.page-id-67):not(.page-id-1135) &.scroll {
            border-bottom: transparent;

            nav.aberto {
                opacity: 0;
            }
        }
    }

    @include media-breakpoint-down(xl) {
        nav.aberto {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        .menu-item-1042,
        .menu-item-1169 {
            display: none;
        }
    }

    @include media-breakpoint-down(lg) {
        .menu-item-404,
        .menu-item-1158 {
            display: none;
        }
    }

    body.home & {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), transparent);
    }
}