.post {
    a {
        display: block;
    }

    &__img {
        background-color: #000;

        img {
            display: block;
            width: 100%;
            transition: opacity 0.5s;
        }
    }

    h2 {
        font-weight: 400;
        font-size: var(--fonte-18px);
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 8px 0;
    }

    &:hover img {
        opacity: 0.8;
    }
}

.box-mansory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;

    .post.horizontal{
        grid-column: span 2;
    }

    .post.vertical{
        .post__img img{
            aspect-ratio: 1 / 1.32;
            object-fit: cover;
            object-position: center;
        }
    }
}



.grid-exposicoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;

    .post{
        &__img {
            img{
                aspect-ratio: 1 / 1;
                object-fit: cover;
                object-position: center;
            }
        }

        h2{
            text-transform: none;
            margin-bottom: 5px;
        }
        p + p{
            margin-top: 5px;
        }

        &:nth-child(2){
            margin-top: 50px;
        }

        &:nth-child(3n + 4), &:nth-child(3n + 6){
            margin-top: -50px;
        }
    }
}