:root {
    --fancybox-accent-color: #000;
    --fancybox-bg: rgba(0, 0, 0, 0.7);
}

main {
    padding: 85px 0 0;

    @include media-breakpoint-down(md) {
        padding: 30px 0 0;
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-size: var(--fonte-16px);
        color: #858585;
        line-height: 1.6em;
        width: fit-content;
        text-transform: lowercase;
        transition: color 0.3s;

        svg {
            width: 8px;
            height: 13px;
            fill: #B6B6B6;
            margin-right: 6px;
            transition: color 0.3s;
        }

        &.proximo svg{
            margin-right: 0;
            margin-left: 6px;
            transform: rotate(180deg);
        }

        &:hover {
            color: #000;

            svg {
                fill: currentColor;
            }
        }
    }

    h1 {
        margin-bottom: 10px;
        max-width: 30ch;
    }

    .categoria {
        color: rgba(12, 13, 20, 0.6);
    }

    .content {
        margin-top: 40px;

        &__imagem {
            background-color: #FAFAFA;

            a {
                height: 100%;
                @extend %centralizar;

                img {
                    display: block;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }

        &__texto {
            .texto {
                color: #363636;

                @include media-breakpoint-down(md) {
                    margin-top: 20px;
                }
            }

            .descricao {
                opacity: 0.6;

                em a,
                a em {
                    font-weight: 500;
                }

                p+p {
                    margin-top: 0.9em;
                }

                &.exposicoes,
                .exposicoes {
                    margin-top: 50px;
                    padding-left: 0 !important;

                    @include media-breakpoint-down(md) {
                        margin-top: 24px;
                    }

                    h2 {
                        font-size: var(--fonte-20px);
                        margin-bottom: 20px;
                    }

                    ul {
                        padding: 0;
                        list-style-type: none;

                        li+li {
                            margin-top: 0.5em;
                        }
                    }
                }

                .exposicoes {
                    margin-top: 30px;
                }

                @include media-breakpoint-down(md) {
                    position: relative;
                    margin-top: 24px;
                    padding-top: 24px;
                    font-size: var(--fonte-12px);

                    &::before {
                        content: " ";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 78px;
                        height: 1px;
                        background-color: currentColor;
                    }

                    &:first-child {
                        padding-top: 0;
                        padding-bottom: 24px;
                        
                        &::before {
                            top: unset;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.linha .content {
        &__texto {
            display: flex;
            margin-top: 40px;

            @include media-breakpoint-up(md) {
                flex-direction: row-reverse;
            }

            @include media-breakpoint-down(md) {
                display: block;
            }

            @include media-breakpoint-up(md) {
                >div {
                    flex-grow: 1;
                    flex-basis: 0;
                    max-width: 50%;
                }

                .descricao {
                    padding-left: calc(var(--tamanho-coluna));
                }
            }
        }

        &__imagem a img {
            max-height: 800px;
        }
    }

    &.coluna .content {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;

            &__imagem {
                width: calc(var(--tamanho-coluna) * 7);

                img {
                    object-position: top;
                }
            }

            &__texto {
                margin-right: 30px;
                flex-grow: 1;
                flex-basis: 0;
                display: flex;
                flex-direction: column-reverse;

                .texto {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.navegacao-swiper {
    margin-left: auto;
    margin-bottom: -32px;
    margin-top: 5px;
}

.swiper-slide {
    height: unset;
}

footer {
    margin-top: 100px;

    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }
}