.fs16 {
    font-size: var(--fonte-16px);
    line-height: 1.22em;
}

.fs22 {
    font-size: var(--fonte-22px);
    line-height: 1.22em;
}

.fs24 {
    font-size: var(--fonte-24px);
    line-height: 1.22em;
}

.fs28 {
    font-size: var(--fonte-28px);
    line-height: 1.22em;
}

.fs32 {
    font-size: var(--fonte-32px);
    line-height: 1.22em;
}

.fs40 {
    font-size: var(--fonte-40px);
    line-height: 1.22em;
}

.fw400{
    font-weight: 400;
}

.op6 {
    opacity: 0.6;
}

.txtupper {
    text-transform: uppercase;
}

.txtcenter{
    text-align: center;
}

.padrao-botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    padding: 0 20px;
    min-width: 170px;
    min-height: 51px;
    background: #000000;
    font-weight: 500;
    font-size: var(--fonte-16px);
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover{
        background-color: #646464;
    }

    @include media-breakpoint-down(md){
        min-height: 45px;
        min-width: 130px;
    }
}

.efeito-aparecer{
    opacity: 0;
    transition: opacity 0.5s;

    &.aparecer{
        opacity: 1;
    }
}
.navegacao-swiper{
    display: flex;

    button{
        display: block;
        width: 32px;
        height: 32px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.529422 2.08697L0.52942 2.08697L0.529965 2.08752L5.28274 6.85742L0.529963 11.6273L0.529422 11.6279C0.38231 11.7773 0.300017 11.9795 0.300017 12.19C0.300017 12.4005 0.38231 12.6027 0.529422 12.7521C0.6766 12.9016 0.876646 12.986 1.08567 12.986C1.29469 12.986 1.49473 12.9016 1.64191 12.7521L6.8918 7.41967C6.96479 7.34572 7.02259 7.25798 7.062 7.16152C7.1014 7.06507 7.12166 6.96174 7.12166 6.85742C7.12166 6.75311 7.1014 6.64978 7.062 6.55332C7.02259 6.45687 6.96479 6.36912 6.8918 6.29517L1.64191 0.962702C1.49473 0.813208 1.29469 0.72885 1.08567 0.72885C0.876646 0.72885 0.6766 0.813208 0.529422 0.962702C0.38231 1.11213 0.300017 1.31437 0.300017 1.52484C0.300017 1.7353 0.38231 1.93755 0.529422 2.08697Z' fill='black' stroke='black' stroke-width='0.257143'/%3E%3C/svg%3E");
        @include background-config(no-repeat, center, 8px, transparent);
        cursor: pointer;

        &:first-child{
            transform: rotate(180deg);
        }
    }

    @include media-breakpoint-down(sm){
        margin-right: -12px;
    }
}