@import "plugins/swiper";
@import "config/configs";
@import "config/vars";

html {
    font-size: 1.125rem;

    @include media-breakpoint-down(xl) {
        font-size: 1rem;
    }
}

body {
    font-family: $fonte_padrao;
    color: $cor_fonte;
    font-weight: 300;
    font-display: swap;
    font-size: 1rem;

    @include media-breakpoint-down(xl){
        &:not(.home){padding-top: 80px;}
    }
    @include media-breakpoint-down(md){
        &:not(.home){padding-top: 70px;}
    }
}

button,
input {
    font-family: $fonte_padrao;
}

.hidden {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}

.hidden-text {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.no-overflow {
    width: 100%;
    overflow: hidden
}

.no-scroll {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#skip-to-main a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}

@import "padroes";
@import "modulos/editor";
@import "modulos/header";
@import "modulos/footer";