@import "style";

main {
    padding: 120px 0 140px;

    @include media-breakpoint-down(md){
        padding: 25px 0 50px;
    }
}

.grid-clipping {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-top: 40px;

    @include media-breakpoint-down(md){
        grid-template-columns: 1fr;
        grid-gap: 24px;
        margin-top: 0;
    }

    >div {
        display: flex;
        align-items: center;
        a {
            display: block;
            width: 100%;
            background: #D9D9D9;
            transition: background-color 0.3s;

            > div{
                padding: 20px;
            }

            img{
                width: 100%;
                aspect-ratio: 1 / 0.7;
                object-fit: cover;
                object-position: center;

            }

            h2 {
                line-height: 1.22em;
                margin-bottom: 0.72em;
            }

            p {
                line-height: 1.6em;
                color: #858585;
            }

            &:hover {
                background: #cacaca;
            }
        }
    }
}

.padrao-botao{
    margin-top: 90px;
}