@import "plugins/fancybox";
@import "plugins/swiper";
@import "plugins/abas";
@import "style";
@import "modulos/editor";
@import "modulos/galeria";
@import "modulos/single";

@include media-breakpoint-down(lg) {
    .grid-galeria {
        display: none;
    }
}

.grid-galeria {
    margin-top: 40px;

    &__img {
        div {
            background-color: #000;
        }

        img {
            display: block;
            transition: opacity 0.5s;
        }

        &:hover img {
            opacity: 0.7;
        }
    }
}

[js-bloco-ativo] {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
        margin-top: 130px;
    }

    @include media-breakpoint-down(sm) {
        [js-bloco] {
            border: 1px currentColor solid;
            padding: 15px 10px;
            border-radius: 0 0 10px 10px;

            .editor.texto{
                margin-top: 0;
            }
        }
    }
}

.menu-categorias {
    display: flex;
    margin-bottom: 70px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
    }

    button {
        display: block;
        font-weight: 400;
        font-size: var(--fonte-20px);
        max-width: 30ch;
        line-height: 1em;
        text-transform: uppercase;
        color: #B3B3B3;
        transition: color 0.3s;

        &:hover,
        &.ativo {
            color: #000;
        }

        @include media-breakpoint-down(sm) {
            flex-grow: 1;
            flex-basis: 0;
            font-size: var(--fonte-16px);
            border: 1px currentColor solid;
            border-radius: 10px 10px 0 0;
            border-bottom: 1px #fff solid;
            padding: 10px;

            &.ativo {
                margin-bottom: -1px;
                z-index: 2;
            }
        }
    }

    button+button {
        margin-left: 10px;

        @include media-breakpoint-up(sm) {
            margin-left: 30px;
        }
    }
}

main .content {
    margin-top: 0;
}

main .categoria+.content {
    margin-top: 40px;
}

main.linha .content__texto {
    margin-top: 0;

    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }
}

.navegacao-swiper {
    margin-bottom: 10px;
}

.editor.texto {
    @include media-breakpoint-up(md) {
        max-width: 470px;
    }
}

.editor.texto2 {
    margin-left: 30px;

    img {
        max-width: 100%;
        margin-top: 0;

        @include media-breakpoint-up(md) {
            max-width: 85%;
            margin: 0 0 70px auto;
        }
    }

    @include media-breakpoint-up(md) {
        >div {
            max-width: 470px;
        }
    }

    @include media-breakpoint-down(md) {
        margin-top: 30px;
        margin-left: 0;
    }
}

.grid-mansory {
    margin-top: 85px;

    &__img {
        margin-bottom: 30px;

        img {
            max-width: 100%;
        }

        &.col-md-6:nth-child(2) {
            margin-top: 100px;
        }

        &:nth-child(4n + 2):not(.col-md-6) {
            margin-top: 70px;
        }

        &:nth-child(4n + 3):not(.col-md-6) {
            margin-top: 30px;
        }

        &:nth-child(4n):not(.col-md-6) {
            margin-top: 50px;
        }
    }

    @include media-breakpoint-down(lg) {
        display: none;
    }
}