@import "plugins/fancybox";
@import "style";
@import "modulos/editor";
@import "modulos/galeria";
@import "modulos/single";

@include media-breakpoint-down(lg) {
    .grid-galeria {
        display: none;
    }
}

.grid-galeria {
    margin-top: 40px;

    &__img {
        div {
            background-color: #000;
        }

        img {
            display: block;
            transition: opacity 0.5s;
        }

        &:hover img {
            opacity: 0.7;
        }
    }
}