@import "style";

#projetos{
    .grid{
        &+.grid{
            margin: 130px 0 80px;
        }
    }
    .model-1{
        .swiper-projetos{
            .swiper-slide{
                height: 610px;
                img{
                    min-height: 580px;
                }
            }
        }
    }
    .model-2{
        .swiper-projetos{
            .swiper-slide{
                height: 350px;
                img{
                    min-height: 320px;
                }
            }
        }
    }
    .model-3{
        .swiper-projetos{
            .swiper-slide{
                height: 590px;
                img{
                    min-height: 560px;
                }
            }
        }
    }
    .swiper-projetos {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            span{
                font-size: var(--fonte-18px);
                color: #0C0D14;
                line-height: 1.21em;
                width: 100%;
                text-align: left;
                margin-bottom: 8px;
            }
            &:last-of-type{
                align-items: center;
                justify-content: center;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 25px;
                    background-color: #f1f1f1;
                    border-radius: 20px;
                    &:hover{
                        background-color: #0C0D14;
                        span,p{
                            color: #f1f1f1;
                        }
                    }
                    span,p{
                        text-align: center;
                    }
                    p{
                        font-size: 35px;
                    }
                }
            }
        }
    }
}