@import "style";

.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: var(--fonte-16px);
    color: #858585;
    line-height: 1.6em;
    width: fit-content;
    text-transform: lowercase;
    transition: color 0.3s;

    svg {
        width: 8px;
        height: 13px;
        fill: #B6B6B6;
        margin-right: 6px;
        transition: color 0.3s;
    }

    &.proximo svg{
        margin-right: 0;
        margin-left: 6px;
        transform: rotate(180deg);
    }

    &:hover {
        color: #000;

        svg {
            fill: currentColor;
        }
    }
}

.texto {
    padding: 100px 0 150px;

    @include media-breakpoint-down(lg) {
        padding: 20px 0 100px;
    }

    .box {
        width: 100%;
        display: flex;
        flex-direction: column;

        h1 {
            max-width: 25ch;
            text-align: left;
            margin-bottom: 15px;
        }

        p {
            width: 100%;
            text-align: right;
            font-size: var(--fonte-16px);
        }
    }

    .content {
        border-left: 1px solid #000000;
        border-top: 1px solid #000000;
        padding: 15px 0 0 17px;
        margin-top: 15px;

        @include media-breakpoint-up(lg) {
            padding: 32px 0 0 34px;
            margin-top: 30px;
        }
    }
}