@import "plugins/abas";
@import "style";

main {
    padding: 130px 0 150px;

    @include media-breakpoint-down(lg) {
        padding: 40px 0 100px;
    }

    .bloco-botoes {
        [js-btn-bloco],
        a {
            display: block;
            width: 100%;
            padding: 40px 0;
            border: 1px solid rgba(#0C0D14, 0.5);
            border-left: 0;
            border-right: 0;
            margin-top: -1px;
            transition: opacity 0.3s, border 0.3s;

            &:first-child {
                border-top: 0;
                padding-top: 0;
            }

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }

            h2 {
                margin-bottom: 24px;
                max-width: 25ch;
                text-align: left;
            }

            p {
                width: 100%;
                text-align: right;
                font-size: var(--fonte-16px);
            }

            &:hover{
                border-color: currentColor;
            }

            @include media-breakpoint-down(md){
                padding: 20px 0;
            }
        }
    }

    .bloco-textos {
        border-left: 1px solid #0C0D14;
        border-top: 1px solid #0C0D14;
        padding: 32px 0 0 34px;
        margin-left: 30px;
        min-height: 100%;
        transition: opacity 0.3s;
    }

    [js-bloco-ativo].inativo {
        .bloco-botoes:hover {
            [js-btn-bloco]:not(:hover) {
                opacity: 0.3;
            }
        }
        .bloco-textos {
            opacity: 0;
        }
    }

    [js-bloco-ativo]:not(.inativo) {
        .bloco-botoes [js-btn-bloco]:not(.ativo):not(:hover) {
            opacity: 0.3;
        }
    }
}