@import "style";
@import "modulos/post";

.trabalhos {
    padding: 130px 0;

    @include media-breakpoint-down(lg) {
        padding: 20px 0 50px;
    }
}

.padrao-botao {
    margin-top: 60px;
}

.grid-mansory {
    @include media-breakpoint-up(lg){
        margin: 0 -40px; 
    }
    @include media-breakpoint-up(sm){
        margin: 0 -20px; 
    }

    .post {
        @include media-breakpoint-down(sm){
            margin-bottom: 30px;

            &:nth-child(even).vertical{
                margin-left: 41.6666%;
            }
        }
        @include media-breakpoint-up(sm){
            padding: 0 20px;
            margin-bottom: 40px;

            &.vertical+.post.vertical {
                margin-top: 30px;
            }
            &.vertical+.post.vertical+.post.vertical{
                margin-top: 0;
            }
        }
        @include media-breakpoint-up(lg) {
            padding: 0 40px;
            margin-bottom: 80px;

            &.vertical+.post.vertical {
                margin-top: 50px;
            }

            &.vertical+.post.vertical+.post.vertical,
            &.horizontal+.post.vertical {
                margin-top: 30px;
            }

            &.horizontal+.post.vertical+.post.horizontal+.post.vertical,
            &.vertical+.post.vertical+.post.vertical+.post.vertical {
                margin-top: 0;
            }

            &:not(.horizontal):nth-child(2) {
                margin-top: 70px;
            }
        }
    }

    .post__img img {
        object-fit: cover;
        object-position: center;

    }

    .post.horizontal {
        .post__img img {
            aspect-ratio: 1 / 0.586;
        }
    }

    .post.vertical {
        .post__img img {
            aspect-ratio: 1 / 1.32;
        }
    }
}