@import "style";
@import "modulos/post";

.trabalhos{
    padding: 130px 0;
}

.box-mansory {
    position: relative;
}

.post {
    padding: 40px;

    > div{
        background-color: #000;
    }

    img {
        display: block;
        width: 100%;
        transition: opacity 0.3s;
    }

    &:hover img{
        opacity: 0.8;
    }
}